<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--References-->
    <bean id="ref_student" class="model.Student">
        <property name="name" value="Bang"/>
    </bean>

    <bean id="ref_class" class="model.Classroom">
        <property name="student" ref="ref_student"/>
    </bean>

    <!--Inner Bean-->
    <bean id="inner_class" class="model.Classroom">
        <property name="student">
            <bean class="model.Student">
                <property name="name" value="Nguyen"/>
            </bean>
        </property>
    </bean>

    <!--Collection-->
    <bean id="col_student" class="model.Student">
        <property name="name" value="Quynh"/>
    </bean>

    <bean id="col_class" class="model.Classroom">
        <property name="studentList">
            <list>
                <ref bean="ref_student"/>
                <ref bean="col_student"/>
                <bean class="model.Student">
                    <property name="name" value="Anh"/>
                </bean>
            </list>
        </property>
    </bean>

    <!--Properties-->
    <bean id="prop_class" class="model.Classroom">
        <property name="classProps">
            <props>
                <prop key="classLeader">Ốc</prop>
                <prop key="room">A1</prop>
            </props>
        </property>
    </bean>

    <!--Inheritance-->
    <bean id="speakBase" abstract="true">
        <property name="language" value="tiếng Việt"/>
    </bean>

    <bean id="inh_student" class="model.Student" parent="speakBase">
        <property name="name" value="Ốc"/>
    </bean>

    <bean id="cat" class="model.Cat" parent="speakBase">
        <property name="name" value="mèo"/>
        <property name="language" value="meow"/>
    </bean>

</beans>